@import "global";
@import "style";
@import "header";

/* Footer */
footer {
  background-color: $footer;  
  
  .footer-wrapper {
    display: flex;
    padding: 2rem;
    width: 90%;
    margin: auto;
    align-items: center;
    min-height: 10vh;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    h5 {
      padding-bottom: 3rem;
      padding-top: 3rem;
      flex: 1 1 40rem;
      text-align: center;
      justify-content: center;
    }

    ul {
      display: flex;
      list-style: none;
      flex: 1 1 40rem;
      justify-content: space-around;
      align-items: center;
    }
  }
}
